.container {
	position: relative;
	background-image : url('images/NSTexturedFullScreenBackgroundColor.png');
	background-repeat: repeat;
}
header {
min-height       : 110px;
background-color : #555;
}

section.content {
background-color: #666;
display: block;
min-height: 700px;
padding-top:1px;
}

footer {
min-height       : 110px;
background-color : #555;
position         : absolute;
left             : 0;
bottom           : 0;
right            : 0;
}

section.content p.contents {
	width: 950px;
	margin: 20px auto 20px;
	min-height: 400px;
	background-color: #566;
}